* {
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
}

#container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}


.atas {
    width: 33.33%;
    text-align: center;
}

